.container-header{
    width: 100vw;
    border-bottom: 2px solid white;
    background-color: #404040;
}

.container-page{
    width: 100%;
    max-width: 1000px;
    padding: 19px 24px;
    margin: 0 auto;
}